*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-template-areas: 
    "Lateral Informacion Informacion Informacion Informacion"
    "Lateral contenido contenido contenido contenido"
    "Lateral contenido contenido contenido contenido"
    "Lateral contenido contenido contenido contenido"
    "Lateral contenido contenido contenido contenido"
    "Lateral contenido contenido contenido contenido"
    "Lateral contenido contenido contenido contenido"
    "Lateral contenido contenido contenido contenido";
}

#Lateral{
    box-sizing: border-box;
    padding: 10%;
    grid-area: Lateral;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    gap: 3vh;
    background-color: #374151;
    color: white;
}

ul{
    font-size: xx-large;
    list-style-type: square;
    list-style-position: inside;
}

li:hover{
    cursor: pointer;
}

li:active{
    color: #2d3748;
}

.activo{
    opacity: 50%;
}

#Lateral>div{
    overflow:auto;
}


#contenido{
    grid-area: contenido;
}

#Informacion{
    grid-area: Informacion;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

dialog:modal{
    top:30%;
    left:30%;
    padding: 16px;
    border: 8px solid #374151;
    border-radius: 24px;
}

#contenido{
    overflow: auto;
    height: 87vh;
}

#contenido>div{
    border-bottom:2px solid;
    padding-left: 5%;
}

.task>div{
    display: flex;
    gap:5%;
}

.alta{
    background-color: #860000a8;
}

.media{
    background-color: #3b0057bb;
}

.baja{
    background-color: #0012af8a;
}